/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 15px 0;
}

h1 {
    margin: 0;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column; /* Ensure the input and button stack vertically */
    gap: 10px; /* Add space between input and button */
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 15px; /* Increase padding for a larger input */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Larger font size for better readability */
}

button {
    padding: 15px 20px; /* Increase padding for a larger button */
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 18px; /* Larger font size for better readability */
    width: 100%; /* Ensure button takes full width of the form */
}

button:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

thead {
    background-color: #007bff;
    color: white;
}

@media screen and (max-width: 768px) {
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        display: table-cell;
        min-width: 120px;
    }
}

/* Footer styles */
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p {
    margin: 0;
}

